
/* Mobile */

@media screen and (max-width : 600px) {
	
	header img.logo {
		width:10%;
		height:10%;
	}
	
}

/* Tablette */

@media screen and (max-width : 1024px) {
	
	header img.logo {
		width:20%;
		height:20%;
	}
	
}

/* Desktop */

@media screen and (min-width : 1024px) {

	header img.logo {
		width:10%;
		height:10%;
	}
}






